
.addmeal-main{
    height: 100vh;
    width: 100wv;
    margin:50px auto;
    padding:0;
    display: flex;
    justify-content: center;
  

}
.addmeal-main h1{
    text-align: center;
}
